<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/Gus_CPLibrary/src/SaraCompareSolvers.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<mapAttribute key="org.eclipse.debug.core.environmentVariables">
<mapEntry key="DYLD_LIBRARY_PATH" value="/Users/Sara/StackelbergGame/CPLibrary/cpoptimizer/bin/x86-64_osx:/Users/Sara/StackelbergGame/CPLibrary/cplex/bin/x86-64_osx:"/>
</mapAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="SaraCompareSolvers"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Gus_CPLibrary"/>
</launchConfiguration>
